<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>speedtest.tele2.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>ConfigurationIntent</string>
		<string>NASAWidgetConfigIntent</string>
		<string>QuoteBGIntent</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>SubscribeRegular.ttf</string>
		<string>SubscribeShadowRegular.ttf</string>
		<string>ComicKings.ttf</string>
	</array>
</dict>
</plist>
